<div class="row ui-layout">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" routerLink="">E-Commerce</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="products">Products</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Activity
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" routerLink="basket">Basket</a></li>
                          <li><a class="dropdown-item" routerLink="">Profile</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Sign Out</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                      </li>
                      <li>
                        <button class="btn btn-outline-success" routerLink="admin">Admin Page</button>
                      </li>
                    </ul>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<ngx-spinner size="medium" name="s1" color="#808080" type="ball-fall"></ngx-spinner>
<!-- appModule bu componenti declare ettiği için burada kullanabiliyoruz. 
bu tagı buraya koyduktan sonra ise diğer componentlerde bu html kodunu kullanmamıza gerek yok. js ile bu tagı 
tetikleyerek çalıştırmış olacağız. diğer herhangi bir component te tetiklediğimizde buradaki spinner tagi çalışacak.
gömülü şekilde çalıştığımızdan dolayı arada artık js konuşacak.-->
<ngx-spinner size="default" name="s2" color="Maroon" type="ball-spin"></ngx-spinner>
<ngx-spinner size="default" name="s3" color="Purple" type="timer"></ngx-spinner>